<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootsrap="vendor/autoload.php"
         colors="true"
         stopOnfailure="false">

    <testsuites>
        <testsuite name="unit">
            <directory>
                tests
            </directory>
        </testsuite>
    </testsuites>

</phpunit>
